.drag {
  display: flex;
  max-height: 90vh;
  height: 3000px;
}

.sidebar {
  width: 15vw;
  background-color: #333;
  padding: 10px;
  color: var(--secondary-color);
  overflow-y: auto;
}

.sidebar-item {
  padding: 10px;
  cursor: move;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  margin-bottom: 5px;
}
.box-dropzone {
  width: 70vw;
  height: 90vh;
  overflow: auto;
  position: relative;
  border: 1px solid black;
}

.dropzone {
  position: absolute;
  top: 0;
  left: 0;
  width: 1400px;
  height: 1980px;
}

.properties-panel {
  width: 15vw;
  background-color: #222;
  padding: 10px;
  color: var(--secondary-color);
  overflow-y: auto;
}

.properties-panel label {
  display: block;
  margin-bottom: 10px;
}

.properties-panel input,
.properties-panel select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.save-button {
  margin-top: 10px;
  padding: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.save-button:hover {
  background-color: #45a049;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  form {
    align-items: flex-start;
    .title-div {
      display: flex;
      flex-direction: column;
    }
    button {
      margin: 5px;
    }
    #title {
      width: 200px;
    }
    #description {
      width: 200px;
    }
  }
}
.form-tag {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  label {
    margin-left: 5px;
  }
}
.tag-item {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 0 5px;
}
