:root {
  --primary-color: #0f0a0a;
  --secondary-color: #f5efed;
  --tertiary-color: #2292a4;
  --link-color: #e74c3c;
  --primary-font: "Arial", sans-serif;
  --secondary-font: "Times New Roman", serif;
}
@mixin image {
  width: 210px;
  height: 297px;
  border-radius: 0;
}
