:root {
  $primary-color: #db9834;
  $secondary-color: #2ecc71;
  $text-color: #333;
  $background-color: #f9f9f9;
  $header-footer-background: #ad801f;
  $link-color: #e74c3c;
  $primary-font: "Roboto", sans-serif;
  $secondary-font: "Playfair Display", serif;
}
