.app {
  display: flex;
}

.sidebar {
  width: 15vw;
  height: 85vh;
  background-color: #333;
  padding: 10px;
  color: #fff;
  overflow-y: auto;
}

.sidebar-item {
  padding: 10px;
  cursor: move;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 5px;
}

.dropzone {
  
  position: relative;
  background-color: #ffffff;
  height: 85vh;
  width: 68vw;
  margin: 10px;
  border: 1px dashed #888;
}

.draggable-element {
  position: absolute;
  cursor: move;
  border: 1px solid #fff;
}

.properties-panel {
  width: 15vw;
  height: 85vh;
  background-color: #222;
  padding: 10px;
  color: #fff;
  overflow-y: auto; 
}

.properties-panel label {
  display: block;
  margin-bottom: 10px;
}

.properties-panel input,
.properties-panel select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.save-button {
  margin-top: 10px;
  padding: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.save-button:hover {
  background-color: #45a049;
}