.drag {
  display: flex;
}

.sidebar {
  width: 15vw; 
  background-color: #333;
  padding: 10px;
  color: #fff;
  overflow-y: auto;
}

.sidebar-item {
  padding: 10px;
  cursor: move;
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 5px;
}

.dropzone {
  position: relative;
  background-color: #b6b6b6;
  width: calc(100vw * (210 / 297)); /* Largeur A4 proportionnelle à la hauteur */
  height: calc(100vh * (297 / 210)); /* Hauteur proportionnelle à la largeur A4 */  margin: 0px 10px; /* Ajustez la marge selon vos besoins */
  border: 1px dashed #888;
  overflow: hidden; /* Empêche le débordement */
}

.properties-panel {
  width: 15vw; /* 15% de la largeur de la fenêtre */
  background-color: #222;
  padding: 10px;
  color: #fff;
  overflow-y: auto; 
}

.properties-panel label {
  display: block;
  margin-bottom: 10px;
}

.properties-panel input,
.properties-panel select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}

.save-button {
  margin-top: 10px;
  padding: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.save-button:hover {
  background-color: #45a049;
}
